#buttons {
    color: blue
}

#info {
    border: 1px solid white;
    border-radius: 40px;
    border-width: thick;
    background-color: rgb(9, 44, 56);
    width: 35em;
    color: rgb(191, 205, 217);
}

#walletInformation {

    margin: 0;
}

#exchangetitle {
    text-align: center;
    color: rgb(191, 205, 217);
}

#myNFTs {
    border: 1px solid white;
    border-radius: 40px;
    border-width: thick;
    background-color: rgb(9, 44, 56);
    width: 35em;
    color: rgb(191, 205, 217);
}

#chainstats {
    border-radius: 10px;
    text-align: center;
}

#inputaddress {
    background: rgb(91, 122, 188);
    border-radius: 10px;
    text-align: center;
    width: 40%;
    /* table-layout: fixed; */
    margin: 0 auto;
}